 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
// Custom Styles
a{
  text-decoration:none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:bold;
  color: black;
  font-size: 13px;
}
body {

  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.header {
  height:49px;
  background-color: HSLA(0, 0%, 96%, 1);
  width:100%;

  a{
    padding-left: 8px;
    padding-right:8px;
  }
}

.search-bar{
  width: 358px !important;
display: inline;
height: 60%;
}

.mega-octicon{
  margin-left: 15.8%;
  margin-top: 9px;
vertical-align: sub;
}

.right-icons{
  float:right;
  padding-right: 21.7%;

  .top-icon{
    border-radius: 3px;
    margin-top: 14px;
  }

}

.sidebar{
  float:left;
  width:32%;

  .avata{
    float:left;
    margin-left: 50%;
    margin-top: 4.5%;
    border-radius: 5px;
  }
  .my-name{
    float:left;
    font-size: 26px;
    font-family: Helvetica;
    font-weight: 600;
    margin-left: 50%;
  }

  .username{
    font-size: 20px;
    margin-left:50%;
  }
}
