 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
// Custom Styles
a{
  text-decoration:none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight:bold;
  color: black;
  font-size: 13px;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header {
  height:49px;
  background-color: HSLA(0, 0%, 96%, 1);
  width:100%;

  a{
    padding-left: 8px;
    padding-right:8px;
  }
}

.search-bar{
  width: 358px !important;
  display: inline;
  height: 60%;
  margin-left: 0.5%;
}

.mega-octicon{
  margin-left: 15.8%;
  margin-top: 9px;
  vertical-align: sub;
  font-size: 28px;
}
.header{
  .explore{
    padding-left: 15px;
    padding-right: 9px;
  }
}
.right-icons{
  float:right;
  padding-right: 13.8%;

  a{
    width:20px;
    height:20px;
  }
  .top-icon{
    border-radius: 3px;
    margin-top: 14px;
  }
  .octicon-plus{
    font-size:18px;
  }
  .octicon-triangle-down{
    font-size:10px;
    vertical-align: 2px;
  }
  .octicon-inbox{
    font-size: 20px;
  }
  .octicon-gear{
    font-size:18px;
  }
  octicon-sign-out{
    font-size:16px;
  }
}

/* SIDEBAR CONTENT */
.wrapper{
  @include outer-container;
}
.sidebar{
  @include span-columns(3.4);
  float:left;

  .sidebar-avatar{
    margin-left: 19%;
    margin-top: 7%;

    .avatar{
      border-radius: 5px;
    }
  }

  .my-name{
    float: right;
    font-size: 26px;
    font-family: Helvetica;
    font-weight: 600;
    margin-right: 33%;
  margin-top: -2%;
  }
  .username{
    font-size: 20px;
    margin-right: 48%;
    margin-top: -3%;
    float: right;
    color:HSLA(0, 0%, 40%, 1);
  }
}

.loc-date{

  .octicon-location{
    color:HSLA(0, 0%, 80%, 1);
    font-size:16px;
  }
  .loc-date-location{
    float: right;
    margin-right: -23%;
    margin-top: 16%;
  }
  .octicon-clock{
    color:HSLA(0, 0%, 80%, 1);
    font-size:16px;
  }
  .loc-date-join{
    float: right;
    margin-right: 10%;
  }

}

.follow-star{
  float: right;
  margin-right: -5%;
  margin-top: 8%;
  display: block;

  a{
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
    color:HSLA(210, 53%, 51%, 1);
  }
  p{
    font-size: 11px;
    color: HSLA(0, 0%, 60%, 1);
    font-weight:300;
  }
}

.follow-text{
  float: right;
  margin-right: -41%;
  margin-top: 16%;
  font-family: Helvetica;

}

.main-content{
  @include span-columns(8.6);
}
